{% extends 'base.html.twig' %}

{% block title %}Locallo !{% endblock %}

{% block body %}
<h1 style="color: white; text-align: center; font-style: italic; font-size: 40px; margin: 20px 0;">LOCALLO !</h1>
<p style="color: black; text-align: center; font-size: 30px;">Votre annuaire local en quelques clics</p>
<p style="color: black; text-align: center; font-size: 30px;">Trouvez les services que vous désirez, au plus proche de chez vous !</p>
<div style="text-align: center; margin: 40px 0;">
    <a style="display: inline-block;" href="/annuaire" class="btn btn-primary">Accéder à l'annuaire</a>
</div>
{% endblock %}